 *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: black;
        }
        .container{
            display: flex;
            flex-direction: column;
            background-color: rgb(0, 0, 0);
            justify-content: left;
            align-items: left;
            margin: 20px;
        }
        .card{
            display: flex;
            margin: 15px;
        }
        .thumbnail{
            width: 168px;
            height: 94px;
        }
        .duration{
            border: 1px solid;
            display: inline-block;
            position: relative;
            left: 120px;
            top: -26px;
            color: white;
            background-color: rgba(0, 0, 0, 0.644);
            padding: 2px 5px;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            font-size: small;
            font-family: Roboto, Arial, sans-serif;
        }
        .text{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: Roboto, Arial, sans-serif;
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
            margin-left: 8px;

        }
        img{
            border-radius: 10px;
        }
        .channel-name-views-old{
            color: rgb(170 , 170, 170);
            font-size: 14px;
        }